@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #01579B;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

#home {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    flex-flow: column wrap;
    position: relative;
}

.logo {
    margin: 0;
    width: 90%;
    font-size: 2.5rem;
    color: white;
    text-decoration: underline;
    text-decoration-color: #29b6f6;
}

.main-navigation-container {
    position: relative;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-navigation,
.logo-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
}

.logo-container {
    justify-content: flex-end;
    width: 40%;
}

.main-navigation-li {
    list-style: none;
    transition: all ease-in-out 300ms;
    height: 60px;
    padding: 0 20px;
}

.main-navigation-li:hover {
    background: #29B6F6;
}

.main-navigation-li.our-work:hover ul {
    display: flex;
}
.our-work-dropdown-links {
    color: #000;
    text-decoration: none;
}

ul.work-dropdown-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    flex-flow: row wrap;
    top: 100%;
    z-index: 100000000;
    color: #000;
    transition: all ease-in-out 200ms;
    background: #ffffff;
    width: 200px;
}

.work-dropdown-menu li {
    z-index: 10000000;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    transition: all ease-in-out 300ms;
    padding: 5px 0px 5px 20px;
    position: relative;
}

.work-dropdown-menu li:hover {
    color: #fff;
    background: #29B6F6;
    padding-left: 30px;
}

.main-navigation-a {
    color: white;
    transition: all ease-in-out 300ms;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    height: 100%;
    letter-spacing: 2px;
    align-items: center;
}

.main-navigation-a:hover {
    color: #000;

}

.image-and-text-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.home-page-image-container {
    background: url(home-page-bg-image.jpg);
    width: 85%;
    height: 95%;
    background-size: cover;
    background-position-y: 40%;
}

.home-page-text-container {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    top: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-title {
    font-size: 8rem;
    letter-spacing: -2px;
    color: #29B6F6;
    margin: 10px 0;
    position: relative;
    width: 50%;
}

.page-title span {
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
}

.slogan {
    font-size: 4rem;
    color: #80D8FF;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 5px 5px black;
}

/* Work Section */

#work,
#testimonials {
    margin-top: 100px;
}
.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: #ffffff;
    width: 85%;
    margin: 0 auto 50px auto;
    box-sizing: border-box;
    border: solid #050b19 5px;
}

.project {
    margin: 20px;
}

.project img {
    min-width: 200px;
    max-width: 250px;
    max-height: 300px;
    min-height: 300px;
    transition: all ease-in-out 350ms;
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.1);
}

.homepage-external-link-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}

.homepage-external-link-button {
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background: #01579b;
    border: solid 3px black;
    padding: 10px;
    transition: all ease-in-out 500ms;
    font-weight: bold;
}

.homepage-external-link-button:hover {
    border-color: #fff;
    background-color: #4FC3F7;
    color: #000;
    transform: translateX(10%);
}

.homepage-external-link-button i {
    padding-left: 10px;
}
.homepage-external-link-button-container.contact{
    justify-content: flex-end;
    margin: 0;
    width: 85%;
    margin: 0 auto;
}
.homepage-external-link-button.contact {
    font-size: 20px;
}

/* Testimonials Slider */
#testimonials {
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
}

#testimonials .next,
#testimonials .previous {
    height: 50px;
    width: 50px;
    margin: 0 30px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    display: flex;
    justify-content: center;
}

#testimonials .next i,
#testimonials .previous i {
    padding: 0;
    font-size: 50px;
    transition: all ease-in-out 300ms;
    color: #000;
}

#testimonials .next i:hover,
#testimonials .previous i:hover {
    color: #80D8FF;
}

.slide-container {
    display: none;
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
}

.slide-container p {
    padding-top: 1.5rem;
    text-align: center;
    width: 70%;
    color: #01579B;
}

.customers-name {
    font-weight: bold;
    font-size: 3rem;
    color: #01579B;
    font-style: italic;
}

/* About page */

#about {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.about-us-title,
.work-title,
.clothing-title,
.cups-title,
.blocks-title,
.flower-boxes-title {
    color: black;
    z-index: 1000;
    font-size: 6rem;
    width: 100%;
    grid-column: 1/10;
    grid-row: 3/3;
    text-align: center;
    margin: 0;
}
.clothing-title,
.cups-title,
.blocks-title,
.flower-boxes-title {
    color: white;
    font-size: 8rem;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.background-color-block,
.background-color-block-2 {
    width: 50%;
    height: 65%;
    background: white;
    left: 0;
    position: absolute;
    bottom: -6%;
}

.background-color-block-2 {
    background-color: #80D8FF;
    right: 0;
    top: 15%;
    left: auto;
    bottom: auto;
}


.about-us-container {
    width: 100%;
    height: 100%;
    background: #03A9F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    grid-column: 3/8;
    grid-row: 3/9;
}

.about-us-text-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-us-text {
    width: 70%;
    letter-spacing: 3px;
    line-height: 30px;
    margin: 0 auto 0 50px;
}

.work-container {
    width: 80%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    z-index: 10;
    box-sizing: border-box;
    position: relative;
}
.work-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.work-container li {
    list-style: none;
    padding: 10px
}
.work-container img {
    width: 275px;
    height: 300px;
}

/* Footer */
.footer {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    background: #3a3a3a;

}

.logo-and-footer-links-container {
    display: flex;
    width: 40%;
}

.footer .logo-container {
    align-items: flex-start;
}

.footer .logo-container .logo {
    font-size: 30px;
}

.footer-ul {
    padding: 0;
    margin: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-li {
    list-style: none;
    padding: 5px;
}

.footer-anchor-links,
.contact-us-container a {
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

.footer a:hover {
    color: #29b6f6;
}

.contact-us-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.contact-us-container h3 {
    border-bottom: 3px solid #29B6F6;
    width: 60%;
}

.contact-us-container a {
    font-size: 18px;
    padding: 10px 0;
}

.giveaway-container {
    display: flex;
    justify-content: center;
    width: 30%;
}

.giveaway,
.contact-us-container h3 {
    text-align: left; 
    color: #fff;
    font-size: 30px;
    margin: 0;
}