@import url('https://fonts.googleapis.com/css?family=Arimo|Montserrat');


body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #01579B;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
#home {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-flow: column wrap;
    position: relative;
}
.logo {
    margin: 0;
    width: 90%;
    font-size: 2.5rem;
    color: white;
    text-decoration: underline;
    text-decoration-color: #29b6f6;
}
.main-navigation-container {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.main-navigation,
.logo-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100px;
    align-items: center;
}
.logo-container {
    justify-content: flex-end;
}
.main-navigation-li {
    list-style: none;
    padding: 10px;
    transition: all ease-in-out 300ms;
}
.main-navigation-a {
    color: white;
    transition: all ease-in-out 300ms;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
}
.main-navigation-li:hover {
    transform: translateX(5%);
}
.main-navigation-a:hover {
    color: #4FC3F7;
}
.image-and-text-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
.home-page-image-container {
    background: url(home-page-bg-image.jpg);
    width: 85%;
    height: 95%;
    background-size: cover;
    background-position-y: 40%;
}
.home-page-text-container {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    top: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.home-page-title {
    font-size: 8rem;
    letter-spacing: -2px;
    color: #29B6F6;
    margin: 10px 0;
    position: relative;
    width: 50%;
}
.home-page-title span {
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
}
.slogan {
    font-size: 4rem;
    color: #80D8FF;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}
/* Testimonials Slider */
#testimonials{
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
  }
  #testimonials .next,
  #testimonials .previous {
    height: 50px;
    width: 50px;
    margin: 0 30px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    display: flex;
    justify-content: center;
  }
  #testimonials .next i,
  #testimonials .previous i {
    padding: 0;
    font-size: 50px;
    transition: all ease-in-out 300ms;
    color: #000;
  }
  #testimonials .next i:hover,
  #testimonials .previous i:hover {
    color:#80D8FF;
  }
  .slide-container {
    display: none;
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
  }
  .slide-container p {
    padding-top: 1.5rem;
    text-align: center;
    width: 70%;
    color: #01579B;
  }
  .customers-name {
    font-weight: bold;
    font-size: 3rem;
    color: #01579B;
    font-style: italic;
  }