@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat|Oswald");

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.slick-next {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
/* Mobile menu */
#mobileMenuWrapper,
#secondaryMobileMenu {
  display: none;
}


/* Navigation Menu */
#mainHeader {
  width: 100%;
  z-index: 10;
  background: #fff;
  top: 0;
}

#navigationWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

#navWrapper {
  height: 70px;
  width: 100%;
  justify-content: center;
  position: relative;
  display: flex;
}

#mainNavigation {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: #fff;
  border-bottom: 2px solid #000;
}

#mainNavigation.sticky {
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 10;
}

.mainLi {
  list-style: none;
  padding: 20px;
  display: flex;
  align-items: center;
}

.mainLi:hover {
  background: #d5d5d5;
}

.mainLi:hover .mainLinks {
  color: #f10505;
}

.mainLinks {
  color: #006ae4;
  font-size: 2rem;
  transition: all ease-in-out 120ms;
  font-weight: 400;
  position: relative;
}

#logoWrapper {
  width: 100%;
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 10px 0 10px 0;
}

.logo {
  color: #000;
  font-family: "Lobster", cursive;
  transition: all ease-in-out 200ms;
  font-size: 6rem;
  letter-spacing: 3px;
}

.logo:hover {
  color: #006ae4;
}

#closeMobileMenuButton {
  display: none;
}

/* Drop down menu */
#subMenuWrapper {
  opacity: 0;
  position: absolute;
  background: #d8d7d7;
  transition: all ease-in-out 100ms;
  visibility: hidden;
  right: 0;
  justify-content: center;
  left: 0;
  top: 100%;
  width: 80%;
  padding: 25px;
  margin: 0 auto;
  z-index: 10;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;

}

#subMenuTitle {
  color: #000;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 20px;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
}

#subMenu {
  display: flex;
  justify-content: center;
}

#rowWatchContainerWrapper {
  display: flex;
  flex-direction: column;
}

.rowWatchContainer {
  display: flex;
  flex-flow: row wrap;
}

.dropDownParent:hover>#subMenuWrapper {
  visibility: visible;
  opacity: 100;
}

.subLis {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.subLinks {
  font-size: 2rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 200ms;
}

.subLinks:hover {
  opacity: 0.8;
}

img {
  width: 100px;
  height: 150px;
}

.categorySection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-left: 2px solid black;
}

.categoryImageLink {
  transition: all ease-in-out 200ms;
  margin-left: 25px;
}

.categoryImage {
  background: url(home-page-bg-image.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  width: 350px;
  height: 175px;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 1.8rem;
  color: #fff;
}

/* Hamburger Menu */
#hamburgerMenuContainer {
  display: none;
}

.hamburger-menu {
  display: flex;
  z-index: 10;
  height: 25px;
  transition: all 1s ease-in-out;
  justify-content: center;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu span:after,
.hamburger-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.hamburger-menu span:after {
  top: 18px;
}

.hamburger-menu span {
  position: relative;
  display: block;
}

.hamburger-menu span,
.hamburger-menu span:after,
.hamburger-menu span:before {
  width: 25px;
  height: 3px;
  background-color: #006ae4;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}


.hamburger-menu.toggle-active span:before {
  transform: rotate(400deg) translate(-1px, 0px);
}

.hamburger-menu.toggle-active span:after {
  transform: rotate(-400deg) translate(6px, -7px);
}

.hamburger-menu.toggle-active span {
  background-color: transparent;
}


/* Scroll to top button */
.top-scroll-container {
  position: fixed;
  bottom: 0;
  display: none;
  justify-content: flex-end;
  left: 0;
  height: 60px;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  z-index: 1000000;
  width: 70px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.top-scroll-container.active {
  display: flex;
}

.scroll-to-top-link {
  text-decoration: none;
  color: #000;
  transition: all ease-in-out 400ms;
}

.scroll-to-top-link:hover {
  transform: scale(1.1);
}

.scroll-to-top-link:hover .scroll-to-top-button-container {
  box-shadow: 0px 3px 10px 0px rgb(54, 54, 54);
}

.scroll-to-top-button-container {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 40px;
  box-shadow: -1px 1px 10px #000000;
  width: 45px;
  height: 600px;
  min-height: 45px;
  max-height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all ease-in-out 400ms;
}

.scroll-to-top-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 400ms;
  border-radius: 40px;
}

.scroll-to-top-button {
  transform: translateY(15px);
}

.scroll-to-top-button i {
  font-size: 22px;
}

.scroll-to-top-text {
  margin: 0;
  font-size: 12px;
  text-align: center;
  transform: translateY(28px);
  width: 100;
}

.scroll-to-top-link:hover .scroll-to-top-button {
  transform: translateY(-40px)
}




#home {
  background: url(home-page-bg-image.jpg);
}

/* Home section */
#home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
}

.background-image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.home-text-container {
  position: relative;
  width: 55%;
  margin: 0 50px 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-heading {
  font-size: 7.5rem;
  margin: 10px 0;
  color: #ffffff;
}

.homepage-slogan {
  font-size: 3rem;
  max-width: 600px;
  min-width: 300px;
}

.work-button-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.work-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.work-button {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 50px;
  border: 2px solid #fff;
  transition: all ease-in-out 400ms;
}

.work-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f10505;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.work-button:hover:before,
.work-button:focus:before,
.work-button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Product section */
#products {
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
}

.tri-column-card-container {
  width: 90%;
  height: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.card-link {
  height: auto;
  width: 30%;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.card-title-container {
  position: relative;
  z-index: 2;
}

.tri-card-left,
.tri-card-mid,
.tri-card-right {
  background: url(batman-project.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all ease-in-out 300ms;
}

.tri-card-mid {
  background: url(Jack-project.jpg);
  background-size: cover;
  background-position: center;
}

.tri-card-right {
  background: url(bears-hoodie-project.jpg);
  background-position: center;
}

.card-title {
  font-size: 5em;
  text-align: center;
  border-bottom: 2px solid #006ae4;
  background-color: #0000008f;
}

.card-link:hover .product-overlay {
  transform: translateY(0);
  transition: all ease-in-out 350ms;
}

.product-overlay {
  transition: all ease-in-out 350ms;
  position: absolute;
  transform: translateY(400px);
  width: 100%;
  height: 100%;
  background-color: #006ae4;
  z-index: 9;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.pop-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px;
  border: 2px solid #fff;
  transition: all ease-in-out 200ms;
  font-size: 3rem;
  color: #000;
  background-color: #fff;
}

.pop-up-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 30px -10px #111;
  background-color: #f10505;
  color: #fff;
  border: 2px solid #f10505;
}

.pop-up-container i {
  padding-left: 10px;
}

.pop-up-button {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
}

.fa-phone {
  transform: rotate(180deg);
  padding-left: 0;
  padding-right: 10px;
}

/* Caption */
#caption {
  position: relative;
  overflow: hidden;
  background-color: #006ae4;
  background-image: linear-gradient(315deg, #011096 0%, #006ae4 74%);
}

.caption-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.caption-title,
.testimonials-title {
  font-size: 5rem;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  z-index: 1;
}

.caption-text {
  font-size: 2rem;
  width: 40%;
  box-sizing: border-box;
  padding: 40px;
  letter-spacing: 1px;
  line-height: 30px;
  z-index: 1;
}

.right-paragraph-container {
  width: 40%;
  position: relative;
  z-index: 1;
}

.right-paragraph-container p {
  width: 100%;
}

.caption-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-bottom: 40px;
}

/* Testimonial Slider */
#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-slider {
  cursor: grab;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
}

p.slick-slide:focus {
  outline: none;
}

#testimonials .next,
#testimonials .previous {
  height: 50px;
  width: 50px;
  margin: 0 30px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
}

#testimonials .next i,
#testimonials .previous i {
  padding: 0;
  font-size: 50px;
  transition: all ease-in-out 180ms;
  color: #000;
}

#testimonials .next i:hover,
#testimonials .previous i:hover {
  color: #006ae4;
}

.slide-container {
  display: none;
  font-size: 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
}

.slide-container p {
  text-align: center;
  width: 70% !important;
  color: #000;
  margin: 0;
  padding: 1.5rem 0;
  line-height: 40px;
  letter-spacing: 1px;
}


.slick-track {
  display: flex !important;
  justify-content: center;
}

.customers-name {
  font-weight: bold;
  font-size: 4rem;
  color: #006ae4;
  font-style: italic;
}

.testimonials-title {
  color: #000;
  box-sizing: border-box;
  font-size: 6rem;
}

/* footer */
#main-footer {
  background: #333;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  position: relative;
}

.table-title {
  font-size: 2.5rem;
  min-width: 300px;
  margin: 0 auto;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 10px;
}

.footer-content-container.location {
  margin-right: 40px;
}

.footer-table {
  font-size: 1.2rem;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 0;
  height: 80%;
}

.footer-table.location {
  display: flex;
  flex-direction: column;
  height: auto;
}

.footer-table td {
  letter-spacing: 1px;
}

.footer-content-container.location p {
  min-width: 300px;
  margin: 0 auto;
  width: 300px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 25px;
}

#main-footer .main-navigation {
  width: 15%;
  flex-direction: column;
  margin: 0;
}

#main-footer .main-ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

#main-footer .main-links {
  color: #fff;
  font-size: 1.2rem;
}

.contact-text-container {
  width: 100%;
  margin-top: 5px;
}

.contact-text-container a {
  font-size: 1.2rem;
  transition: all ease-in-out 200ms;
}

.contact-text-container a:hover {
  color: #999;
}

.icon {
  max-width: 200px;
  min-width: 150px;
  min-height: 80px;
  height: auto;
  max-height: 110px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

a.designer {
  text-decoration: none;
  color: #006ae4;
  padding: 0 10px;
  transition: all ease-in-out 200ms;
}

.designer:hover {
  color: #ffa500;
}
/* Media Query */
@media screen and (max-width: 1100px) {
  .footer-content-container.contact {
    margin: 0;
  }
}

@media screen and (max-width: 740px) {

  #home {
    background-position: center;
  }

  /* Home page */
  .home-text-container {
    margin: 0;
  }

  #testimonials {
    height: auto;
  }

  .testimonials-title {
    padding: 0;
  }

  .footer-content-container {
    margin: 0;
  }

  .footer-content-container.location {
    margin-left: 40px;
  }

  .card-title {
    font-size: 3rem;
  }

  .pop-up-container {
    font-size: 2rem;
  }

}

@media screen and (max-width: 500px) {

  /* Navigaton Bar */
  .logo {
    font-size: 4em;
  }

  .mainLinks {
    font-size: 1.6rem;
  }

  .hamburger-menu {
    display: flex;
  }

  #closeMobileMenuButton {
    display: block;
  }

  #mainNavigation {
    display: none;
  }
  #hamburgerWrapper {
    position: fixed;
    bottom: 0;
    justify-content: center;
    right: 0;
    width: 100%;
    z-index: 12;
    display: flex;
    background: rgb(49,109,227);
    background: linear-gradient(142deg, rgba(49,109,227,1) 0%, rgba(0,138,255,1) 100%);
}

#hamburgerWrapper .iconLinks {
  font-size: 14px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iconLinks i {
  font-size: 20px;
}

#hamburgerMenuContainer {
  display: flex;
  padding-top: 5px;
  width: 50px;
  align-items: center;
  background: #fff;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  bottom: 20px;
  position: relative;
}
  #hamburgerMenuContainer:after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgb(49,109,227);
    background: linear-gradient(142deg, rgba(49,109,227,1) 0%, rgba(0,138,255,1) 100%);
    z-index: -120;
    border-radius: 50%;
    bottom: -1px;
}
  #closeMobileMenuButton.fa-times {
    color: #fff;
    right: 7%;
    top: 20px;
    position: fixed;
    font-size: 3rem;
    z-index: 11;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  #closeMobileMenuButton.fa-times.on {
    opacity: 1;
  }


  #mobileMenuWrapper {
    position: fixed;
    z-index: 11;
    height: 100%;
    background: #fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 350ms ease-in-out;
  }

  #mobileMenuWrapper.mobileOn {
    width: 100%;
    visibility: visible;
  }
  #secondaryMobileMenu.mobileOn {
    visibility: visible;
  }
  #mobileMenuWrapper.translateUp {
    transform: translateY(0%);
  }
  #secondaryMobileMenu.translateUpTwo {
    transform: translateY(225px);
    visibility: visible;
  }
  #mobileMenuOverlay {
    width: 100%;
    z-index: 10;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    right: 0;
    opacity: 0;
    visibility: hidden;
  }

  #mobileMenuOverlay.fadeIn {
    visibility: visible;
  }

  #mobileMenu {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
}

.mobileLi {
  list-style: none;
  font-size: 2rem;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #d3d1d1;
  position: relative;
}
.mobileLinks {
  color: #000;
  font-size: 2.4rem;
}

#subNavMobileMenu {
  position: relative;
  visibility: hidden;
  height: 0;
  background: #d0d0d0;
}
#subNavMobileMenu.show {
  visibility: visible;
  height: auto;
}
#subNavMobileMenu li {
  list-style: none;
  padding: 10px;
  font-size: 1.6rem;
  border-bottom: 1px solid #b5b3b3;;
}
.dropDownIcon {
  height: 50px;
  width: 40px;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03A9F4;
}
.dropDownIcon i {
  transition: all ease-in-out 100ms;
}

#subNavMobileMenu li a {
  color: #000000;
  letter-spacing: 1px;
  padding-left: 10px;
}

  /* Home section */
  .home-text-container {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .homepage-heading {
    font-size: 3.5rem;
  }

  .homepage-slogan {
    display: none;
  }

  #home .work-button {
    padding: 10px 50px;
  }

  /* Products */
  #products {
    height: auto;
  }

  .caption-button-container {
    padding: 0;
    margin: 20px 0;
    box-sizing: border-box;
  }

  .card-link {
    width: 100%;
    height: 300px;
    margin: 15px 0;
  }

  .card-title {
    font-size: 5rem;
  }

  .pop-up-container {
    font-size: 3rem;
  }

  /* About */
  .caption-title {
    padding: 20px;
    font-size: 3.5rem;
  }

  p.caption-text {
    width: 100%;
    margin: 10px 20px;
    padding: 0;
  }

  .right-paragraph-container {
    width: 100%;
    padding: 10px 20px;
  }

  .right-paragraph-container p.caption-text {
    margin: 0;
  }

  .work-button {
    font-size: 1.4rem;
  }

  /* Testimonials */

  .testimonial-slider {
    padding: 0;
  }

  .slide-container {
    font-size: 2em;
  }

  .slide-container p {
    width: auto !important;
    padding: 10px;
  }

  .customers-name {
    font-size: 2rem;
  }

  .testimonials-title {
    font-size: 4rem;
    padding: 0;
  }

  /* Footer */
  .footer-content-container {
    margin-left: 40px;
  }

  .footer-content-container.hours {
    margin-right: 40px;
  }
}

@media screen and (max-width: 380px) {
  #logoWrapper {
    justify-content: center;
  }


  .logo {
    font-size: 2.8rem;
    padding-right: 10px;
  }
}